In [1]:
import pandas as pd
from statmanager import Stat_Manager

In [6]:
df = pd.read_csv(r'testdata\testdf.csv', index_col = 'id')
sm = Stat_Manager(df, language='eng')

Stat_Manager object created successfully! (Version 1.7.2)

Method to check how to use: .howtouse()
Method for statistical analysis: .progress()

*****
↓↓ Check for the more details in documentation! ↓↓
https://cslee145.notion.site/statmanager-kr-Documentation-c9d0886f29ea461d9d0f44449a145f8a?pvs=4
*****

In [4]:
df.head(5)

     condition  age     sex location  income  prescore  postscore  fupscore
id
1   test_group   33  female      kor     237         7         10         5
2   test_group   26  female      kor     303         8          5         4
3   test_group   28  female      kor     327         2          4         2
4   test_group   25  female      usa     243         8          3         7
5   test_group   21  female      usa     409         2         10         4

In [7]:
sm.progress(method = 'ttest_ind', vars = 'prescore', group_vars = 'sex')

|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
Indenpendent Samples T-test
Variable : prescore
Group variable : sex
Comparison group : ['female', 'male']
Decriptive analysis:

        female   male
n        15.00  15.00
mean      5.80   4.47
median    6.00   4.00
sd        2.96   2.67

Test statistic = 1.296, p = 0.205
Degree of freedom = 28
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||